

.nav {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  &-logo {
    font-weight: 800;
    font-size: 30px;
    line-height: 160%;
    color: #2C2D36;
    &:hover {
      text-decoration: none;
      color: #2C2D36;
    }
  }
  &-block {
    display: flex;
    align-items: center;
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 58px;
    &__item {
      margin-right: 55px;
      position: relative;
      &:before, &::after {
        opacity: 0;
        content: '';
        position: absolute;
        bottom: -5px;
        border-radius: 5px;
        transition: .3s all;
      }
      &::before {
        width: 50%;
        height: 3px;
        background-color: #FFDC60;
        z-index: 2;
      }
      &::after {
        right: 2px;
        width: 50%;
        height: 3px;
        background-color: #5956E8;
      }
      &:hover {
        &:before, &::after {
          opacity: 1;
        }
      }
      &-active {
        &:before, &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          border-radius: 5px;
          opacity: 1;
        }
        &::before {
          width: 25px;
          height: 3px;
          background-color: #FFDC60;
          z-index: 2;
        }
        &::after {
          right: 2px;
          width: 25px;
          height: 3px;
          background-color: #5956E8;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: 18px;
        line-height: 160%;
        text-transform: capitalize;
        color: #292930;
        &:hover {
          text-decoration: none;
          transition: .4s all;
        }
      }
    }
  }
  &-btns {
    display: flex;
    align-items: center;
  }
  &-login {
    font-size: 18px;
    line-height: 160%;
    color: #292930;
    margin-right: 43px;
    &:hover {
      color: #292930;
    }
  }
  &-btn {
    width: 173px;
    height: 64px;
  }
}

.header {
  background: linear-gradient(111.23deg, #E9F7FF 9.95%, #FFDBD5 85.17%);
  position: relative;
  height: 1092px;
  overflow: hidden;
  &__bg {
    &-circl {
      position: absolute;
      width: 1208px;
      height: 1208px;
      background: #F4F6FB;
      border-radius: 100%;
      top: -188px;
      right: -363px;
      z-index: 1;
    }
    &-1 {
      left: 856px;
      top: 226px;
    }
    &-2 {
      right: 104px;
      top: 437px;
      z-index: 3;
    }
    &-3 {
      right: 460px;
      bottom: 205px;
      z-index: 3;
    }
    &-4 {
      left: 126px;
      bottom: 267px;
    }
    &-5 {
      left: 781px;
      bottom: 108px;
    }
    &-1, &-2, &-3, &-4, &-5 {
      position: absolute;
    }
  }
  &-wrap {
    padding-top: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-text {

  }
  &-image {
    position: absolute;
    right: 130px;
    width: 528.64px;
    height: 426.84px;
    img {
      position: absolute;
      z-index: 3;
    }
    &__main {
      position: relative!important;
      z-index: 2;
    }
    &__megafon {
      top: -158px;
      left: -167px;
      width: 210.97px;
      height: 186.15px;
    }
    &__mishe {
      width: 138px;
      height: 189.45px;
      bottom: -172px;
      right: -39px;
    }
    &__ckecked {
      left: -172px;
      bottom: -62px;
      width: 155px;
      height: 155px;
    }
    &_bgpat {
      top: -139px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1!important;
    }
  }
  &-title {
    margin-top: 28px;
    font-weight: 800;
    font-size: 70px;
    line-height: 110.5%;
    color: #292930;
    max-width: 615px;
    span {
      color: #5956E8;
      font-weight: 800;
    }
  }
  &-descr {
    margin-top: 34px;
    max-width: 576px;
    font-size: 18px;
    line-height: 156.5%;
    color: #555555;
  }
  &-btns {
    margin-top: 34px;
    display: flex;
    align-items: center;
    .btn-1 {
      margin-right: 20px;
      width: 182px;
      height: 64px;
    }
    .btn-2 {
      width: 173px;
      height: 64px;
    }
  }
}

.page-header {
  background: linear-gradient(111.23deg, #F5E9FF 9.95%, #FFDBD5 85.17%);
  overflow: hidden;
  position: relative;
  &::before {
    content: '';
    width: 665.7px;
    height: 665.7px;
    background: #F4F6FB;
    position: absolute;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -239px;
    z-index: 2;
  }
  &-circul {
    position: absolute;
    border-radius: 100%;
    z-index: 1;
    filter: blur(163px);
    width: 308px;
    height: 308px;
    &_1 {
      background: #E326AE;
      bottom: -91px;
      left: 603px;
    }
    &_2 {
      width: 449.23px;
      height: 449.23px;
      background: #FFC4BB;
      bottom: -77px;
      right: 506px;
    }
    &_3 {
      top: 128px;
      right: 83px;
      background: #FFFA76;
    }
  }
  &__bg {
    &_1 {
      position: absolute;
      left: 148px;
      bottom: 176px;
      z-index: 2;
    }
    &_2 { 
      position: absolute;
      right: 153px;
      bottom: 212px;
      z-index: 2;
    }
  }
  &-text {
    padding: 252px 0 130px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
    &__bg {
      position: absolute;
      bottom: 0px;
      left: 52.3%;
      transform: translateX(-50%);
      z-index: 2;
    }
  }
  &__title {
    font-weight: 800;
    font-size: 70px;
    line-height: 110.5%;
    color: #292930;
    position: relative;
    z-index: 3;
    span {
      color: #5956E8;
      font-weight: 800;
    }
  }
  &_services {
    background: linear-gradient(111.23deg, #CFD4FF 9.95%, #FFFFFD 85.17%);
    .page-header-circul {
      &_1 {
        background: #7CFF99;
      }
      &_2 {
        background: #EDFFBB;
      }
      &_3 {
        background: #7DFFE8;
      }
    }
  }
}