.services {
  padding: 169px 0;
  background: #292930;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &-btn {
    width: 174px;
    height: 62px;
  }
  &-wrap {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &-card {
    width: 352px;
    height: 475px;
    background: linear-gradient(180deg, #36363E 0%, #292930 100%);
    border: 1px solid #424245;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 41px 39px;
    margin-bottom: 67px;
    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
    &__image {
      margin-bottom: 17px;
      width: 153px;
      height: 153px;
      background: #292930;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {

      }
    }
    &__title {
      font-weight: 600;
      font-size: 25px;
      line-height: 110.5%;
      color: #FFFFFF;
      margin-bottom: 14px;
    }
    &__descr {
      line-height: 28px;
      color: #D0D0D0;
      margin-bottom: 26px;
      font-size: 18px;
    }
    &__btn {
      width: 266px;
      height: 62px;
      filter: grayscale(1);
      border: 1px solid #535355;
      color: #525255;
      background: transparent;
      transition: .4s all;
      img {
        margin-left: 13px;
      }
      &:hover {
        filter: grayscale(0);
        background: #FFDC60;
        color: #292930;
      }
    }
  }
  &_single {
    .services-top {
      justify-content: center;
    }
  }
}